@model SchoolManagmentSystem.RegistrationView
@using DBModel
@{
    ViewBag.Title = "რეგისტრაცია";
}
<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm())
{
    Context context = new Context();
    Role adminrole = context.Roles.FirstOrDefault(x => x.Name == "Admin");
    Role teacherrole = context.Roles.FirstOrDefault(x => x.Name == "Teacher");
    Role studentrole = context.Roles.FirstOrDefault(x => x.Name == "Student");
    <h4>
        <spam>სახელი :</spam> <br />@Html.TextBoxFor(x => x.FirstName) <br />
        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
        <br />
        <spam class="surname">გვარი :</spam> <br />@Html.TextBoxFor(x => x.LastName) <br />
        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
        <br />

        <span>სქესი</span><br />
        @Html.DropDownListFor(modelItem => modelItem.Gender, new[] { new SelectListItem { Text = "მამრობითი", Value = "false" }, new SelectListItem { Text = "მდედრობითი", Value = "true" } }, new { @class = "form-control" })

        <br />
        <span>მომხმარებელი</span><br />
        @Html.TextBoxFor(x => x.Username)<br />
        @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })<br />
        <span>იმეილი</span><br />
        @Html.TextBoxFor(x => x.Email)<br />
        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })<br />
        <span>პაროლი</span><br />
        @Html.TextBoxFor(x => x.Password, new { @type = "password" })<br />
        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })<br />
        <span>წოდება</span><br />
        @Html.DropDownListFor(modelItem => modelItem.Role, new[] { new SelectListItem { Text = "მოსწავლე", Value = studentrole.Id.ToString() }, new SelectListItem { Text = "მასწავლებელი", Value = teacherrole.Id.ToString() }, new SelectListItem { Text = "ადმინი", Value = adminrole.Id.ToString() } }, new { @class = "form-control" })
        <br />

        <input type="submit" placeholder="" value="შევსება" class="btn btn-default" new { style="color:green" } />
        <p class="wrong">@ViewBag.Message</p>
    </h4>
}

<script src="~/Scripts/jquery-3.4.1.slim.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>
    p.wrong {
        color: #bc4442;
        margin: 5px 0px 0px 0px;
        text-align: center;
        font-size: 13px;
    }

    p {
        margin-left: 15px;
    }


    select#Gender, select#Role {
        border: 2px solid black;
        border-radius: 25px;
        color: black;
        margin-top: 22px;
    }

    input {
        margin-top: 22px;
        border: 2px solid;
        height: 35px;
        border-radius: 25px;
        padding-left: 15px;
    }

    spam {
        display: inline-block;
        margin-left: 15px;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    input.btn.btn-default {
        border: 2px solid black;
        border-radius: 25px;
        color: black;
        font-weight: bold;
    }

    input.btn.btn-default {
        width: 291px;
        height: 35px;
        margin-top: 20px;
    }

    spam.surname {
        margin-top: 5px;
    }

    input#Gender {
        position: relative;
        top: 4px;
        left: 12px;
        height: 15px;
    }

    spam.teacher {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    span.text-danger.field-validation-error {
        margin-left: 15px;
        font-size: 13px;
    }


    input#LastName {
        margin-bottom: 0;
    }

    h4 {
        color: black;
        font-weight: bold;
    }
</style>