@model DBModel.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        position: absolute;
        background-color: #141414;
        color: white;
    }

    .textbox {
        border-color: orange;
        border-radius: 15px 15px;
        color: black;
    }

    .button {
        background-color: orange;
        border-color: darkorange;
        border-radius: 15px 15px;
        margin-left: 165px;
    }
</style>

<script src="~/Scripts/functions.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <body>
        <h2>Login</h2>
    
        <p>
            <text>Username</text>
            @Html.TextBoxFor(model => model.UserName, new { @class = "textbox", @value = "" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    
        </p>
    
        <p>
            <text>Password</text>
            @Html.TextBoxFor(model => model.Password, new { @id = "passwordBox", @class = "textbox", @type = "password", @style = "margin-left: 3px;", @value = "" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <input id="passwordCheckBox" type="checkbox" style="margin-left: 20px;" onclick="showPassword()"> Show Password
        </p>
    
        <p><input class="button" type="submit" value="Login" /></p>
    
    </body>
}

