
@using CsScripts;
@model RegistrationModel

@{
    ViewBag.Title = "RegistrationPage";
}

<style>
    body {
        position: absolute;
        background-color: #141414;
        color: white;
    }

    .textbox {
        border-color: orange;
        border-radius: 15px 15px;
        color: black;
    }

    .button {
        background-color: orange;
        border-color: darkorange;
        border-radius: 15px 15px;
        margin-left: 165px;
    }
</style>

<script src="~/Scripts/functions.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body>
        <h2>Register</h2>

        <p>
            <text>Username</text>
            @Html.TextBoxFor(model => model.user.UserName, new { @class = "textbox", @value = "" })
            @Html.ValidationMessageFor(model => model.user.UserName, "", new { @class = "text-danger" })

        </p>

        <p>
            <text>Password</text>
            @Html.TextBoxFor(model => model.user.Password, new { @id = "passwordBox", @class = "textbox", @type = "password", @style = "margin-left: 3px;", @value = "" })
            @Html.ValidationMessageFor(model => model.user.Password, "", new { @class = "text-danger" })
            <input id="passwordCheckBox" type="checkbox" style="margin-left: 20px;" onclick="showPassword()"> Show Password
        </p>

        <p>
            <text>Firstname</text>
            @Html.TextBoxFor(model => model.person.FirstName, new { @class = "textbox", @value = "" })
            @Html.ValidationMessageFor(model => model.person.FirstName, "", new { @class = "text-danger" })

        </p>

        <p>
            <text>Lastname</text>
            @Html.TextBoxFor(model => model.person.LastName, new { @class = "textbox", @value = "" })
            @Html.ValidationMessageFor(model => model.person.LastName, "", new { @class = "text-danger" })

        </p>

        <p>
            <text>BirthDate</text>
            @Html.TextBoxFor(model => model.person.BirthDate, new { @class = "textbox", @value = "" })
            @Html.ValidationMessageFor(model => model.person.BirthDate, "", new { @class = "text-danger" })

        </p>

        <p>
            <text>Gender</text>
            @Html.DropDownListFor(model => model.person.Gender, new SelectList(Model.person.genders, "Key", "Value", Model.person.Gender))
            @Html.ValidationMessageFor(model => model.person.Gender, "", new { @class = "text-danger" })

        </p>

        <p><input class="button" type="submit" value="Register" /></p>

    </body>
}
