@model List<bool>
@{
    ViewBag.Title = "მართვა";
}
<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
<div class="h4">
    <p class="big">ანგარიშის ნახვა და რედაქტირება</p>
    <span>მოსწავლე : </span><br />

        @if (Model[0] == true)
        {
            @Html.DropDownListFor(modelItem => modelItem[0], new[] { new SelectListItem { Text = "დაშვებული", Value = "true" }, new SelectListItem { Text = "აკრძალული", Value = "false" } }, new { @class = "form-control" })
        }
        else
        {
            @Html.DropDownListFor(modelItem => modelItem[0], new[] { new SelectListItem { Text = "აკრძალული", Value = "false" }, new SelectListItem { Text = "დაშვებული", Value = "true" } }, new { @class = "form-control" })
        }
        <br>
        <span>მასწავლებელი : </span><br />
        @if (Model[1] == true)
        {
            @Html.DropDownListFor(modelItem => modelItem[1], new[] { new SelectListItem { Text = "დაშვებული", Value = "true" }, new SelectListItem { Text = "აკრძალული", Value = "false" } }, new { @class = "form-control" })
        }
        else
        {
            @Html.DropDownListFor(modelItem => modelItem[1], new[] { new SelectListItem { Text = "აკრძალული", Value = "false" }, new SelectListItem { Text = "დაშვებული", Value = "true" } }, new { @class = "form-control" })
        }
        <br />
        <p class="big">საგნის ან მოსწავლის დამატება</p>
        <span>მოსწავლე : </span><br />
        @if (Model[2] == true)
        {
            @Html.DropDownListFor(modelItem => modelItem[2], new[] { new SelectListItem { Text = "დაშვებული", Value = "true" }, new SelectListItem { Text = "აკრძალული", Value = "false" } }, new { @class = "form-control" })
        }
        else
        {
            @Html.DropDownListFor(modelItem => modelItem[2], new[] { new SelectListItem { Text = "აკრძალული", Value = "false" }, new SelectListItem { Text = "დაშვებული", Value = "true" } }, new { @class = "form-control" })
        }
        <br>
        <span>მასწავლებელი : </span><br />
        @if (Model[3] == true)
        {
            @Html.DropDownListFor(modelItem => modelItem[3], new[] { new SelectListItem { Text = "დაშვებული", Value = "true" }, new SelectListItem { Text = "აკრძალული", Value = "false" } }, new { @class = "form-control" })
        }
        else
        {
            @Html.DropDownListFor(modelItem => modelItem[3], new[] { new SelectListItem { Text = "აკრძალული", Value = "false" }, new SelectListItem { Text = "დაშვებული", Value = "true" } }, new { @class = "form-control" })
        }
    <input type="submit" placeholder="" value="შეცვლა" class="btn btn-default" new { style="color:green" } />
</div>
}


<style>
    p.wrong {
        color: green;
        margin: 5px 0px 0px 0px;
        text-align: center;
        font-size: 13px;
    }

    p {
        margin-left: 15px;
    }

        p.big {
            text-align: center;
            font-size: 30px;
            color: black;
            padding-bottom: 32px;
            border-bottom: 1px solid #d8d9de;
            font-weight: bold;
        }

    select.form-control {
        margin-top: 20px;
    }

    select#Gender, select#Role {
        border: 2px solid black;
        border-radius: 25px;
        color: black;
        margin-top: 22px;
    }

    input {
        margin-top: 22px;
        border: 2px solid;
        height: 35px;
        border-radius: 25px;
        padding-left: 15px;
    }

    spam {
        display: inline-block;
        margin-left: 15px;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    input.btn.btn-default {
        border: 2px solid black;
        border-radius: 25px;
        color: black;
        font-weight: bold;
    }

    input.btn.btn-default {
        width: 291px;
        height: 35px;
        margin-top: 20px;
    }

    spam.surname {
        margin-top: 5px;
    }

    input#Gender {
        position: relative;
        top: 4px;
        left: 12px;
        height: 15px;
    }

    spam.teacher {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    span.text-danger.field-validation-error {
        margin-left: 15px;
        font-size: 13px;
    }


    input#LastName {
        margin-bottom: 0;
    }

    .h4 {
        color: black;
    }
</style>