@model DBModel.User

@{
    ViewBag.Title = "Login";
}

<style>
    .btn-primary {
        background-color: #1a73e8;
        border-radius: 6px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: bold;
        padding: 6px 18px;
        text-decoration: none;
    }

    .btn-primary:active {
        background-color: #ffffff;
    }

    .textbox {
        background-color: transparent;
        border-radius: 6px;
        border: 2px solid #1a73e8;
        display: inline-block;
        cursor: text;
        font-family: 'Open Sans';
        font-size: 16px;
        padding: 4px 18px;
        text-decoration: none;
        margin-bottom: 2px;
        margin-top: 1px;
    }

    .textbox:hover {
        background-color: #d1e3fa;
    }


</style>

<h2 style="font-family:'Open Sans'">Login</h2>
@using (Html.BeginForm())
{

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <label>Username</label>
        <div>
            @Html.TextBoxFor(m => m.UserName, new { @class = "textbox" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
        <label>Password</label>
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "textbox" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <input type="submit" style="margin-top:8px" value="Login" class="btn btn-primary" />
    </div>
}




